<main>
  <div class="center">
    <img src="//nebula.wsimg.com/7ed305b34a2c74bb96c0b04fe4709b1b?AccessKeyId=CB8124E9BC54ACD9F9F5&disposition=0&alloworigin=1">
  </div>
  <div class="center">
    <h1>
      Calendar photo submission
    </h1>
    <p>
      Please fill out the form below to reserve your spot on the calendar. A non selectable date implies that the date has already been reserved by another family.
    </p>
  </div>
  <div class="center">
      <sky-progress-indicator
        displayMode="horizontal"
        (progressChanges)="updateIndex($event)"
        #wizardDemo
      >
        <sky-progress-indicator-item title="Date to appear on">
          <div class="sky-form-group" style="max-width: 50%">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Date to appear on</mat-label>
              <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [(ngModel)]="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker class="center" #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </sky-progress-indicator-item>
        <sky-progress-indicator-item
          title="Dog Information"
        >
          <div>
            <form [formGroup]="dogForm">
              <div class="sky-form-group" style="max-width: 50%">
                <label for="dog" class="sky-control-label sky-control-label-required">
                  Doggo(s) name(s)
                </label>
                <input class="sky-form-control" id="dog" type="text"  formControlName="dogName" required>
              </div>
              <div class="sky-form-group" style="max-width: 50%">
                <label for="caption" class="sky-control-label sky-control-label-required">
                Calendar caption
                </label>
                <input class="sky-form-control" id="caption" type="text"  formControlName="caption" required>
              </div>
              <div class="sky-form-group" style="max-width: 50%">
                <label for="isRescue" class="sky-control-label" style="padding-right: 10px;">
                  My basset is a rescue
                </label>
                <input id="form-group-first-input-example"  formControlName="isRescue" type="checkbox">
              </div>
            </form>
            <h3>
              Select one or multiple images for your calendar entry. Multiple photos will appear in the form of a collage.
            </h3>
            <div style="width: 60%; margin-left: auto; margin-right: auto;">
              <sky-file-drop
                (filesChanged)="filesUpdated($event)"
                (linkChanged)="linkAdded($event)"
                [maxFileSize]="maxFileSize"
                [validateFn]="validateFile"
                [allowLinks]="false"
                [acceptedTypes]="acceptedTypes">
              </sky-file-drop>

              <sky-alert
                [alertType]="'danger'"
                [closeable]="true"
                *ngIf="rejectedFiles.length > 0">
                The file <strong>{{rejectedFiles[rejectedFiles.length - 1].file.name}}</strong> is invalid.
                Reason: {{rejectedFiles[rejectedFiles.length - 1].errorType}} violation.
                Error param: {{rejectedFiles[rejectedFiles.length - 1].errorParam}}
              </sky-alert>

              <div *ngFor="let file of allItems">
                <sky-file-item
                  [fileItem]="file"
                  (deleteFile)="deleteFile($event)">
                </sky-file-item>
              </div>
            </div>
          </div>
        </sky-progress-indicator-item>
        <sky-progress-indicator-item
          title="Owner Information"
        >
          <div>
            <form [formGroup]="ownerForm">
              <div class="sky-form-group" style="max-width: 50%">
                <label for="owner" class="sky-control-label sky-control-label-required">
                  Owner name
                </label>
                <input class="sky-form-control" id="owner" type="text"  formControlName="ownerName" required>
              </div>
              <div class="sky-form-group" style="max-width: 20%">
                <label for="city" class="sky-control-label sky-control-label-required">
                 City
                </label>
                <input class="sky-form-control" id="city" type="text"  formControlName="city" required>
              </div>
              <div class="sky-form-group" style="max-width: 50%">
                <label for="state" class="sky-control-label sky-control-label-required">
                 State
                </label><br>
                <select id="state" formControlName="state" required>
                  <option value="AL">Alabama</option>
                  <option value="AK">Alaska</option>
                  <option value="AZ">Arizona</option>
                  <option value="AR">Arkansas</option>
                  <option value="CA">California</option>
                  <option value="CO">Colorado</option>
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="DC">District Of Columbia</option>
                  <option value="FL">Florida</option>
                  <option value="GA">Georgia</option>
                  <option value="HI">Hawaii</option>
                  <option value="ID">Idaho</option>
                  <option value="IL">Illinois</option>
                  <option value="IN">Indiana</option>
                  <option value="IA">Iowa</option>
                  <option value="KS">Kansas</option>
                  <option value="KY">Kentucky</option>
                  <option value="LA">Louisiana</option>
                  <option value="ME">Maine</option>
                  <option value="MD">Maryland</option>
                  <option value="MA">Massachusetts</option>
                  <option value="MI">Michigan</option>
                  <option value="MN">Minnesota</option>
                  <option value="MS">Mississippi</option>
                  <option value="MO">Missouri</option>
                  <option value="MT">Montana</option>
                  <option value="NE">Nebraska</option>
                  <option value="NV">Nevada</option>
                  <option value="NH">New Hampshire</option>
                  <option value="NJ">New Jersey</option>
                  <option value="NM">New Mexico</option>
                  <option value="NY">New York</option>
                  <option value="NC">North Carolina</option>
                  <option value="ND">North Dakota</option>
                  <option value="OH">Ohio</option>
                  <option value="OK">Oklahoma</option>
                  <option value="OR">Oregon</option>
                  <option value="PA">Pennsylvania</option>
                  <option value="RI">Rhode Island</option>
                  <option value="SC">South Carolina</option>
                  <option value="SD">South Dakota</option>
                  <option value="TN">Tennessee</option>
                  <option value="TX">Texas</option>
                  <option value="UT">Utah</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WA">Washington</option>
                  <option value="WV">West Virginia</option>
                  <option value="WI">Wisconsin</option>
                  <option value="WY">Wyoming</option>
                </select>
              </div>
              <div class="sky-form-group" style="max-width: 50%">
                <label for="email" class="sky-control-label sky-control-label-required">
                 Email for order
                </label>
                <input class="sky-form-control" id="email" type="text"  formControlName="email" required>
              </div>
            </form>
          </div>
        </sky-progress-indicator-item>
        <sky-progress-indicator-item
          title="Third step"
        >
          <div>
            Additional content or tasks go here.
          </div>
        </sky-progress-indicator-item>

      </sky-progress-indicator>

      <sky-progress-indicator-nav-button
        buttonType="previous"
        [progressIndicator]="wizardDemo"
      >
      </sky-progress-indicator-nav-button>
      <sky-progress-indicator-nav-button
        buttonType="next"
        [disabled]="!requirementsMet"
        [progressIndicator]="wizardDemo"
      >
      </sky-progress-indicator-nav-button>
      <sky-progress-indicator-nav-button
        buttonType="finish"
        buttonText="Save and close"
        [progressIndicator]="wizardDemo"
        (click)="submitForm()"
      >
      </sky-progress-indicator-nav-button>
    </div>
</main>
